body{
   background-color:black;

}
h1{
    text-align: center;
    color: hsl(0, 92%, 47%);
}
div{

    color: hsl(0, 92%, 47%);
    font-size:30px;
    display: inline-block;
}
p{
    position:relative;
    text-align: center;
    top:20px;
    left: 550px;

}
p:hover{
    opacity: 0.5;
}
a{
    text-decoration: none;
    color: hsl(0, 92%, 47%);
}

